.custom-images{
    width: 300px;
}

/* @media(min-width:576px){
    .custom-images{
        width: 50%;
    }
}

@media(max-width:576px){
    .custom-images{
        width: 100%;
    }
} */

@media (min-width:768) and (max-width:992px){
    .custom-images{
        width: 100%;
    }
}